.Spacer.x-xxs { margin-left: var(--s-xxs); }
.Spacer.x-xs { margin-left: var(--s-xs); }
.Spacer.x-s { margin-left: var(--s-s); }
.Spacer.x-m { margin-left: var(--s-m); }
.Spacer.x-l { margin-left: var(--s-l); }
.Spacer.x-xl { margin-left: var(--s-xl); }
.Spacer.x-xxl { margin-left: var(--s-xxl); }

.Spacer.y-xxs { margin-top: var(--s-xxs); }
.Spacer.y-xs { margin-top: var(--s-xs); }
.Spacer.y-s { margin-top: var(--s-s); }
.Spacer.y-m { margin-top: var(--s-m); }
.Spacer.y-l { margin-top: var(--s-l); }
.Spacer.y-xl { margin-top: var(--s-xl); }
.Spacer.y-xxl { margin-top: var(--s-xxl); }