.Button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button.primary {
    background: var(--g-primary-10);
}

.Button.secondary {
    border: 1px solid var(--c-intermediate-5);
}

.Button.tertiary {
    border: 1px solid var(--c-neutral-50);
}

.Button.small {
    height: 32px;
    padding: 0 16px;
}

.Button.medium {
    height: 40px;
    padding: 0 24px;
}

.Button.large {
    height: 48px;
    padding: 0 32px;
}