.MyIdea .horizontal-line {
    width: 100%;
    border-bottom: 1px solid var(--c-neutral-60);
}

.MyIdea .placeholder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}