@mixin navbar {
    width: 100%;
    padding: 24px;
    justify-content: center;
    border-bottom: 1px solid var(--c-neutral-70);

    .wrapper {
        flex: 1;
        max-width: 420px;
        justify-content: space-between;
    }

    .weeev-logo {
        width: 80px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
}

.Navbar {
    @include navbar;
    position: fixed;
    z-index: 2;
}

.ghost-navbar {
    @include navbar;
    opacity: 0;

    .weeev {
        width: 80px;
    }
}