.ParticipantCard + .ParticipantCard {
    margin-top: var(--s-m);
}

.ParticipantCard .info-container {
    width: 160px;
    display: flex;
    align-items: center;
}

.ParticipantCard .whatsapp-icon {
    height: 16px;
}