.IconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.IconButton.secondary {
    border: 1px solid var(--c-intermediate-10);
}

.IconButton.tertiary {
    border: 1px solid var(--c-neutral-60);
    background-color: var(--c-neutral-80);
}