.LoginPopUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginPopUp .weeev-logo {
    width: 112px;
}

.LoginPopUp .google-logo {
    width: 18px;
}