.ShareableLink {
    display: flex;
    align-items: stretch;
    border: 1px solid var(--c-neutral-60);
    border-radius: var(--b-m);
    overflow: hidden;
}

.ShareableLink .copy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    border-right: 1px solid var(--c-neutral-60);
    background-color: var(--c-neutral-80);
    cursor: pointer;
    transition: var(--t-10);

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.ShareableLink .link-container {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 4px 16px;
}