.ShareableLink {
    position: relative;
    display: flex;
    align-items: stretch;
    border: 1px solid var(--c-neutral-60);
    border-radius: var(--b-m);
}

.ShareableLink .copy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 72px;
    border-left: 1px solid var(--c-neutral-60);
    background-color: var(--c-neutral-80);
    border-top-right-radius: var(--b-m);
    border-bottom-right-radius: var(--b-m);
}

.ShareableLink .link-container {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 8px 16px;
}

.ShareableLink .tip {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: -16px;
    padding: var(--s-xs) var(--s-s);
    border-radius: var(--b-s);
}

.ShareableLink .hide {
    opacity: 0;
}